.mid{
    justify-content: center;

}
.img{
    padding: 20px;
    height: 100vh;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: center;
    
}
.image{
    border-radius: 3%;
    z-index: -1;
}

.box{
    width: 17%;
    height: 40px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    z-index: 1;
    
}