.home{
    display: flex;  
    height: 100vh;
    /* border: 2px solid black; */
    width: 100%;
}

.one{
    width: 50px;
    /* margin-right: 10px; */
    height: 100%;
    /* border: 2px solid black; */
}

.two{
    width: 28%;
    height: 100%;
    /* border: 2px solid black; */
}

.three{
    width: 42%;
    height: 100%;
    /* border: 2px solid black; */
}

.four{
    width: 28%;
    height: 100%;
    /* border: 2px solid black; */
}